$header-bg: #ffe600;
$body-bg: #eee;
$container-bg: #fff;

$primary-color: #fff !default;
$primary-bg: #3483fa;
$primary-hover-bg: darken($primary-bg, 0.5);

$text-color: #333;
$text-muted: #666;

$secondary-bg: $body-bg;
$secondary-color: #999;

$font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, Roboto,
  Arial, sans-serif;

$font-size-largest: 24px;
$font-size-large: 18px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-smallest: 12px;

$font-big: 12px;

$padding: 10px;
$margin: $font-size-base;
$gutter: 32px;
$container-size: 1024px;

$radius: 4px;
